<header role="banner" id="header" class="{{ if .IsHome }}nbfc-animated{{ else }}navbar-fixed-top{{ end }}">
    <nav class="navbar navbar-expand-md navbar-light navbar-nbfc navbar-default">
        <div class="container">
            <a class="navbar-brand" href="{{ .Site.BaseURL }}">
            {{ if .Site.Params.navigation.logo }}
			    <img src="{{ print .Site.BaseURL .Site.Params.navigation.logo }}" height="35" alt="logo">
    	    {{ end }}
            </a>
            <a type="button" class="js-nbfc-nav-toggle nbfc-nav-toggle ml-auto" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
					<li class="nav-item {{ if .IsHome }}active{{ end }}">
                        <a class="nav-link " href="{{ .Site.BaseURL }}#home" title="Home">
							<span>{{ with .Site.Params.navigation.home }} {{ . }} {{ end }}</span>
                        </a>
                    </li>
                    {{ if .Site.Params.features.enable }}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ .Site.BaseURL }}#features" title="Features">
                                <span>{{ with .Site.Params.navigation.features }} {{ . }} {{ end }}</span>
                            </a>
                        </li>
                    {{ end }}
                    {{ if .Site.Params.services.enable }}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ .Site.BaseURL }}#services" title="Services">
                                <span>{{ with .Site.Params.navigation.services }} {{ . }} {{ end }}</span>
                            </a>
                        </li>
                    {{ end }}
                    {{ if .Site.Params.useCases.enable }}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ .Site.BaseURL }}#use-cases" title="Use Cases">
                                <span>{{ with .Site.Params.navigation.useCases }} {{ . }} {{ end }}</span>
                            </a>
                        </li>
                    {{ end }}
                    {{ if .Site.Params.openSource.enable }}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ .Site.BaseURL }}#open-source" title="Open Source">
                                <span>{{ with .Site.Params.navigation.openSource }} {{ . }} {{ end }}</span>
                            </a>
                        </li>
                    {{ end }}
                    {{ if .Site.Params.contact.enable }}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ .Site.BaseURL }}#contact" title="Contact">
                                <span>{{ with .Site.Params.navigation.contact }} {{ . }} {{ end }}</span>
                            </a>
                        </li>
                    {{ end }}
                    {{ $currentPage := . }}
					{{ range .Site.Menus.main }}
                        <li class="nav-item {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}">
                          <a class="nav-link" href="{{ .URL }}" title="{{ .Title }}">
                             {{ .Pre }}
                              <span>{{ .Name }}</span>
                          </a>
                        </li>
              		{{ end }}
                </ul>
            </div>
        </div>
    </nav>
</header>
